.buildlog
.pub/
build/
packages
.packages
*.dart.js
*.js_
*.js.deps
.dart_tool
*.js.map
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/
*.aqueduct.pid
/venv*
migrations
*.pyc
files/public/lesssons.db
sqlite
pubspec.lock
files/public/lessons.db
web/assets/assets/lessons.db